/* Alert Detail Component Styles */
:host {
  display: block;
  height: 100%;
}

.map-container {
  background-color: #1e293b;
  min-height: 500px;
}

.card-dark {
  background-color: #1e293b;
  border: 1px solid #334155;
}
