@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-body antialiased;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-background-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-border-dark rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
